<!DOCTYPE html>
<html>
<head>

    <title>Timestamp Microservice</title>
</head>
<body>
    <h1>Timestamp API - Node.js Microservice</h1>
    <p>A Node.js server which will accept a date value and return the date value in a natural language format and as a Unix timestamp.</p>
    <h3>View test cases:</h3>
    <p>Pass 01/23/4567 in natural language format - <a href="https://fierce-beyond-84088.herokuapp.com/January%2023%204567" target="_blank">https://fierce-beyond-84088.herokuapp.com/January%2023%204567</a></p>
    <p>Pass 01/23/4567 as a string - <a href="https://fierce-beyond-84088.herokuapp.com/01141994" target="_blank">https://fierce-beyond-84088.herokuapp.com/01141994</a></p>
    <p>Pass a unix timestamp - <a href="https://fierce-beyond-84088.herokuapp.com/946684800" target="_blank">https://fierce-beyond-84088.herokuapp.com/946684800</a></p>
    <p>Pass an invalid date (a thirteenth month) - <a href="https://fierce-beyond-84088.herokuapp.com/13%2030%202013" target="_blank">https://fierce-beyond-84088.herokuapp.com/13%2030%202013</a> - I am currently working on more strict date validation.</p>
    <!--
    <p>or. . .</p>
    <p>See it in action below: </p>
  -->
</body>
</html>
